body {
    background: #F1F1F1 none repeat scroll 0% 0%;
    font-family: 'Segoe UI', sans-serif;
    margin: 7px 0px 0px 0px;
    padding: 0px;
}

#body {
    background-color: white;
    max-width: 900px;
    margin: 0% auto;
    padding: 2%;
    box-shadow: 1px 1px 5px 0px #656565;
}

/* ------------------- header -------------------- */

#header {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 5%;
}

#title {
    font-size: 30px;
    margin-bottom: 2%;
}

#crew {
    font-style: italic;
    font-family: 'Trebuchet MS', Geneva, sans-serif;
    font-size: 12px;
}


/* ------------------ content ---------------------- */

.titre1 {
    color: #204A65;
    font-size: 24px;
    border-bottom: 1px dotted;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.para {
    text-align: justify;
    color: #595959;
}

#button {
  width: 0;
  margin: 0 auto;
}

/* ----------------- jeu -------------------------- */

td {
  width: 100px;
  height: 100px;
}

.img {
  background-repeat: no-repeat;
  background-size: 100px 100px;
}

.hidden {
  background-image: url("../img/wall_unrevealed.png");
}

.revealed {
  background-image: url("../img/wall_revealed.png");
}

.broken {
  background-image: url("../img/floor.png");
}